.navigation{
    background-color:pink;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-wrapper{
    height: 30px;
}
.navigation i{
    font-size: 1.5rem;

}
.list a{
    text-decoration: none;
    color:white; 
    font-weight: 677;
}
.list{
    list-style-type: none;
    width: 568px;
}
.hero{
    width: 100vw;
    height: 100vh;
}
.hero{
    background-image: url(../image/background/home01-img-slide-01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: pink;
}
.hero-wrap{
    padding-top: 139px;

}
h1{
    font: size 2.3rem; 
    text-align: center;
}
.hero h2{
    font-size: 3rem;
    text-align: center;
    margin-top: 50px;
    color: rgb(250, 247, 247);
font-weight: 700;
}
.sec p{
    text-align: center;
    font-size: 0.9rem;
}
.sec a{
    background-color: palevioletred;
    text-decoration: none;
    border-radius: 22px;
    text-align: center;
    color: white;
    padding: 15px 45px;
}
.ani{
    text-align: center;
    margin-top: 50px;
}
.section3 img{
    width: 100%;
}
.section4{
    background-color: white;
    box-shadow: 10px 26px 30px -31px;
}
.section3{
    background-color: rgb(224, 219, 219);
}


    
    
    


.sec7 img{
    width: 100%;
}
.why h3{
    text-align: center;
}
.section5{
    background-color: palevioletred;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 15px 15px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-bottom: 144px;
    padding-top: 126px;
    


}
.section5 h4{
    font-size: 4rem;
}
.section5 p{
font-size: 0.9rem;
margin-bottom: 50px;
}
.section5 a{
    text-decoration: none;
    border: solid white;
    color: white;
    padding: 15px 46px;
    border-radius: 30px 30px;
}
.sec8 figcaption{
    margin-top: 10px;
    
}   
.footer{
    padding-top: 200px;
}    


    
@media (min-width:768px){
    .hero h2{
        font-size: 6rem;
    }
    .her1{
        position: relative;
        top: -89px;
        left: -20px;
    }
    .her2{
        position: relative;
        top: 0px;
        left: 37px;
    }
    .hero{
        background-size: 63%;
    }
}
h1{
    font-size: 1rem;
}
@media (min-width:1200px){
    
    .her1{
        position: relative;
        top: -113px;
        left: 218px;
    }
    .her2{
        position: relative;
        top: 10px;
        left: -178px;
    }
    .hero{
        padding-top: 50px;
        padding-bottom: 50px;
        background-size: 30%;
    }
}
